<!-- <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<div style="text-align:center">
  <h1>
    {{ title | titleCase }}
  </h1>
</div>

<favorite></favorite>
<p></p>

<like 
  [likesCount]="tweet.likesCount"
  [isActive]="tweet.isLiked" ></like>


<zippy title="Shipping Details">
  Shipping Details Content
</zippy>
<zippy title="Billing Details">
    Billing Details Content
</zippy> 
  

<course-form></course-form>-->


<!-- <signup-form></signup-form> -->

<!-- <new-course-form></new-course-form> -->

<change-password-form></change-password-form>